# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [9]:
import pandas as pd
import numpy as np
df=pd.read_csv("day.csv")
df=pd.read_csv("hour.csv")

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [2]:
# checking for missing data
df.isna().sum() # the result shows there is no any missing data

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [3]:
df.describe()
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [14]:
# Data Preperation The data to be cleaned interms of parameters before creating the models.
#rename the columns
df.rename(columns={'dteday':'Date','yr':'Year','mnth':'month','hum':'humidity','cnt':'count'},inplace =True)
df.head()

,instant,Date,season,Year,month,hr,holiday,weekday,workingday,weathersit,temp,atemp,humidity,windspeed,casual,registered,count
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [19]:
# Checking for outliers
import pandas as pd
import folium

# Read the day.csv file
df_day = pd.read_csv("day.csv")

# Read the hour.csv file
df_hour = pd.read_csv("hour.csv")

# Concatenate the latitude and longitude columns from both DataFrames
latitude = pd.concat([df_day['latitude'], df_hour['latitude']])
longitude = pd.concat([df_day['longitude'], df_hour['longitude']])

# Create a map centered on the average latitude and longitude
map_center = [latitude.mean(), longitude.mean()]
m = folium.Map(location=map_center, zoom_start=10)

# Add markers for each data point
for lat, lon in zip(latitude, longitude):
    folium.Marker(location=[lat, lon]).add_to(m)

# Display the map
m

KeyError: 'latitude'

In [21]:
# Calculate z-scores for the 'count' column
z_scores = np.abs((df['count'] - df['count'].mean()) / df['count'].std())

# Define a threshold for outlier detection (e.g., z-score > 3)
threshold = 3

# Identify outliers based on the threshold
outliers = df[z_scores > threshold]

# Print the outliers
print(outliers)

       instant        Date  season  Year  month  hr  holiday  weekday  \
10383    10384  2012-03-13       1     1      3  18        0        2
10406    10407  2012-03-14       1     1      3  17        0        3
10407    10408  2012-03-14       1     1      3  18        0        3
10431    10432  2012-03-15       1     1      3  18        0        4
10527    10528  2012-03-19       1     1      3  18        0        1
...        ...         ...     ...   ...    ...  ..      ...      ...
15828    15829  2012-10-26       4     1     10  17        0        5
15848    15849  2012-10-27       4     1     10  13        0        6
15849    15850  2012-10-27       4     1     10  14        0        6
16726    16727  2012-12-04       4     1     12  17        0        2
16741    16742  2012-12-05       4     1     12   8        0        3

       workingday  weathersit  temp   atemp  humidity  windspeed  casual  \
10383           1           1  0.70  0.6364      0.34     0.2985      96
10406           1           1  0.70  0.6364      0.28     0.0896     140
10407           1           1  0.70  0.6364      0.32     0.0000     102
10431           1           1  0.66  0.6212      0.44     0.2836      98
10527           1           1  0.64  0.6212      0.57     0.2537     120
...           ...         ...   ...     ...       ...        ...     ...
15828           1           2  0.56  0.5303      0.76     0.1940     125
15848           0           1  0.60  0.6212      0.43     0.2537     310
15849           0           1  0.60  0.6212      0.46     0.2537     325
16726           1           1  0.52  0.5000      0.59     0.2239      43
16741           1           2  0.44  0.4394      0.58     0.2836      22

       registered  count
10383         638    734
10406         642    782
10407         647    749
10431         648    746
10527         681    801
...           ...    ...
15828         692    817
15848         450    760
15849         425    750
16726         700    743
16741         737    759

[244 rows x 17 columns]

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [6]:
#mapping the vars - season,month,weathersit,weekday
df['season']=df.season.map({1: 'spring', 2: 'summer',3:'fall', 4:'winter'})
df['month']=df.month.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'June',7:'July',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['weathersit']=df.weathersit.map({1: 'Clear',2:'Mist + Cloudy',3:'Light Snow',4:'Snow + Fog'})
df['weekday']=df.weekday.map({0:'Sun',1:'Mon',2:'Tue',3:'Wed',4:'Thu',5:'Fri',6:'Sat'})
df.head()

,instant,Date,season,Year,month,hr,holiday,weekday,workingday,weathersit,temp,atemp,humidity,windspeed,casual,registered,count
0,1,2011-01-01,spring,0,Jan,0,0,Sat,0,Clear,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,spring,0,Jan,1,0,Sat,0,Clear,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,spring,0,Jan,2,0,Sat,0,Clear,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,spring,0,Jan,3,0,Sat,0,Clear,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,spring,0,Jan,4,0,Sat,0,Clear,0.24,0.2879,0.75,0.0,0,1,1

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
2. Did the process of cleaning your data give you new insights into your dataset?
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?